/* CSS Reset */

* {
    padding: 0;
    margin: 0;
}

/* CSS variables */
:root {
    --body-background: #D5E1EF;
    --white-custom: hsl(0, 0%, 100%);
    --slate-light: hsl(212, 45%, 89%);
    --slate-medium: hsl(216, 15%, 48);
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-background);
}

.main-container {
    background-color: var(--white-custom);
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    margin-top: 40px;
}

.heading {
    font-weight: 700;
    text-align: center;
    padding: 10px;
    width: 80%;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    letter-spacing: 0px;
}

img {
    width: 100%;
    border-radius: 20px;
}

.QR-component {
    width: 95%;
    margin: 10px;
}

.para {
    font-size: 15px;
    padding: 5px 25px;
    text-align: center;
    color: hsl(216, 15%, 48%);
    width: 80%;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 40px;
}

.attribution {
    margin-top: 10px;
}